.stay-booker__input {
  border: 2px solid;
}

.stay-booker__input {
  color: #868585;
  width: 100%;
  padding-left: 2rem /* 32px */;
  padding-right: 2rem /* 32px */;
  text-transform: capitalize;
}

.stay-booker-input__container {
  position: relative;
  width: 100%;
  @media (min-width: 768px) {
    width: auto;
  }
}

.transform-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.cont {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 10;
  width: 100%;
}

.list {
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  color: rgb(71 85 105 1);
  padding: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
  border-bottom-width: 2px;
  &:hover {
    background-color: rgb(241 245 249 1);
  }
}
