* {
  margin: 0;
  padding: 0;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

.inner-container {
  display: flex;
  column-gap: 0px;
  align-items: flex-start;
  margin-left: 0.5rem /* 8px */;
  margin-right: 0.5rem /* 8px */;
}

.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.sort-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
}

.select {
  margin-bottom: 0.5rem /* 8px */;
  width: 180px;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.hotels-results__container {
  margin-left: 0.5rem /* 8px */;
  margin-right: 0.5rem /* 8px */;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem /* 8px */;
  width: 100%;
}
